# Laravel
/vendor
/public/storage
/storage/*.key

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Cache
/bootstrap/cache/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Testing
/tests/coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Temporary files
*.tmp
*.temp
